[2017-09-01 02:55] rickyvetter opened #1 "Frontmatter query errors"
Hi @angeloocana - first off - thanks so much for making this plugin! It looks like it's pretty new and it's exactly what I'm looking for.

Looking to add this to https://reasonml.github.io/ - ([github project here](https://github.com/reasonml/reasonml.github.io)) and I'm running into issues.

When I run `gatsby develop` it has the following errors:

[code]

At first I thought that it must need som

[2017-09-01 05:56] rickyvetter commented on #1
Ahh - I see that there is a workaround for this by adding the draft and tag fields to a post. I'll try to make things work with that. https://github.com/gatsbyjs/gatsby/issues/546

[2017-09-03 14:55] Akurganow opened #2 "Can't work with any sources except remark"
For my site i use [countentful](https://www.gatsbyjs.org/packages/gatsby-source-contentful/) as source, but your plugin by default use remark as source and i can't find how change it without fork

[2017-09-09 13:10] angeloocana commented on #1
Hi @rickyvetter !

Are you still having problems?

I'm thinking in creating gatsby-plugin-i18n-TAGS and gatsby-plugin-i18n-READNEXT
I need to clean this plugin in order to be able to work with less dependencies.

I wish I could see how did you do it to work.

Thanks!

[2017-09-09 13:13] angeloocana commented on #2
Hi @Akurganow
Thank for the issue.

Did u do the fork? I wish I could see your solution.

I'm going to clean this plugin today and create gatsby-plugin-i18n-TAGS and gatsby-plugin-i18n-READNEXT , I want it to be clean as possible and work with diferentts plugins.

[2017-09-09 15:37] angeloocana commented on #1
@rickyvetter  I removed the draft and tags. Could you try the new version?

I moved the tags to https://github.com/angeloocana/gatsby-plugin-i18n-tags

[2017-09-09 15:41] angeloocana commented on #2
@Akurganow
I just released a new simple version.
You can send the **query** throw options, maybe it helps, please let me know.

I want to make it work for everybody.

Thanks!

[2017-09-11 18:57] rickyvetter commented on #1
Will try the new version soon this week and report back w/ any issues I have! Thanks for splitting up.

[2017-09-11 18:57] #1 closed

[2017-09-12 22:10] angeloocana commented on #1
You are welcome!
Thank you for using and contributing =D

[2017-09-30 06:05] vilav opened #3 "Auto-detect region"
hello

Is there a way to combine this with server side region detection and automatically show the translated language?

[2017-10-01 13:22] romanenko opened #4 "Add all dependencies to package.json or mention them in Readme"
I'm starting a new Gatsby project from scratch and adding `gatsby-plugin-i18n`. Now, the development server doesn't start, because it requires `ramda`, then `ptz-i18n`: I had to add it to my package.json to make it work.

Maybe, we should include them to our `package.json` so they are added automatically, like these guys did: https://github.com/gatsbyjs/gatsby/blob/b92402629c646655d2155fea151a8c1e

[2017-10-07 20:14] angeloocana commented on #3
Hello @vilav !

If you use a server everything is possible!
Where are you hosting?

I was thinking about just doing it in the browser.

What do you think?

[2017-10-08 15:34] vilav commented on #3
Hi @angeloocana!

Definitely looking at Netlify with Gatsby. How do you envision doing it in the browser accurately client-side? I think that'd certainly be a more elegant solution without backend implications!

[2017-10-10 19:54] angeloocana commented on #3
If we do the redirect just for the '/' root page, Will it work for you?

If the User goes to a page like /pt/about it should always display the 'pt' version.
If the User goes to the / root page redirects to /pt/ is Portuguese.

What do you think?

I'm concerned about google search...

[2017-10-10 21:01] angeloocana commented on #4
@romanenko  Sounds perfect!

Would you like to do a Pull Request?
I can do it otherwise.

Thanks!

[2017-10-10 21:04] angeloocana commented on #2
I'm closing this issue.

Please reopen if you still have any problem,
I really would like to help!

[2017-10-10 21:04] #2 closed

[2017-10-10 22:03] romanenko commented on #4
Sorry, my bad, it does not require `ramda`. Made a PR: #5 ;)

[2017-10-11 00:58] #4 closed

[2017-10-11 15:06] vilav commented on #3
That's perfect. I think most sites do it like that! Plus for a user it's clearer that's the locale they're on.
How about if a user on a PT locale is an english speaking user? Could a manual selection of "EN" therefore be mad

[2017-10-12 21:50] angeloocana commented on #3
@vilav  Done! I Hope it fits your needs =D

Working example: https://angeloocana.com

Code: https://github.com/angeloocana/angeloocana/blob/master/src/pages/index.js

Upgrade **ptz-i18n**: `yarn upgrade ptz-i18n`

Example:
[code]

Please let me know what do you think about this solution!

[2017-10-22 09:01] ventie30 opened #6 "TypeError: Cannot read property 'split' of undefined"
Hy guys, I'm struggling a bit after installing this plugin into my test site. I admit that I'm fairly new to Gatsby and I'm still learning how gatsby-config and gatsby-node work. To get started I pick the "gatsby-starter-default" starter, and I played on that.

After in stalling gatsby-plugin-i18n, anytime I run gatsby develop I get this stack trace:

success delete html files from previous builds

[2017-10-23 09:20] sundarsan opened #7 "Node version for this plugin"
Which node version does this plugin supports i am using 8.4.0.

Could you please help me with the supported version of node for this plugin

[2017-10-23 14:41] angeloocana commented on #7
Hi @sundarsan
I'm using v8.3.0 on my machine.

Are you having any problem or error?

[2017-10-26 15:34] gucolin opened #8 "Failed with gatsby-starter-bootstrap"
I'm starting a project with https://github.com/jaxx2104/gatsby-starter-bootstrap but wanted to add i18n support using this plugin, but when I followed the instruction by adding
`resolve: 'gatsby-plugin-i18n',
      options: {
        langKeyForNull: 'any',
        langKeyDefault: languages.defaultLangKey,
        useLangKeyLayout: false
}` to the config it failed to build by throwing the following

[2017-10-26 20:43] angeloocana commented on #8
Hi @gucolin !
Thank you for trying out gatsby-plugin-i18n.

Can I see your project?
I think it should be something related to the content.

I'd love to help.

I found it in your error log:
[code]

If you open the file: `./node_modules/gatsby-plugin-i18n/onCreatePage.js`
and go to the line 40, you will see:

[code]

Add a console.log before this line and post here the output.
It could be like this:

[2017-10-26 21:06] gucolin commented on #8
Thanks @angeloocana. You can gastby new gatsby-starter-bootstrap, modify the package.json with  addtional dependencies like this, run yarn or npm and do gatsby develop again, and you could see the error.

`
"dependencies": {
    "animate.css": "^3.5.2",
    "bootstrap": "^4.0.0-beta.2",
    "gatsby": "^1.9.78",
    "gatsby-image": "^1.0.15",
    "gatsby-link": "^1.6.22",
    "gatsby-plugin-google-

[2017-10-26 22:03] angeloocana commented on #8
Fixed!!! Just update to v0.3.4 =D

I don't know why, but after adding your dependencies the error starts to happen.

The problem is here:
[code]
[code]

It is asking for action.payload **.component** wich is equal to page.component.
In order to fix, I just replaced:
[code]
With:
[code]

---------------------------------------------------------------

Thank you for opening this issue!
Any problem p

[2017-10-26 22:03] #8 closed

[2017-10-26 22:09] gucolin commented on #8
Excellent. Just tried it and the build works! Gotta figure out how to use it properly now. Very appreciate the fast response.

[2017-11-01 20:15] gucolin opened #9 "Got error when adding 'gatsby-transformer-csv'"
Run into issue when I added 'gatsby-transformer-csv'

Config:
{
      resolve: `gatsby-source-filesystem`,
      options: {
        path: `${__dirname}/src/data`,
        name: 'data'
      }
    },

Error:

TypeError: Cannot read property 'split' of undefined

  - index.js:99
    [test]/[ptz-i18n]/dist/index.js:99:27

  - _curryN.js:37
    [test]/[ramda]/src/internal/_curryN.js:37:27

  - _arity.

[2017-11-02 00:19] angeloocana commented on #9
Hi @gucolin

I added 'gatsby-transformer-csv' to [angeloocana.com](https://angeloocana.com/)
with:
`yarn add gatsby-transformer-csv`

Then I added `gatsby-transformer-csv` to `gatsby-config.js` before `gatsby-plugin-i18n`.

Then I added a csv file to `src/pages/teste.csv`
[code]

And the project works fine.
I tried moving `gatsby-transformer-csv` to the end of `gatsby-config.js` and no error.

Can

[2017-11-02 00:21] #3 closed

[2017-11-02 00:27] gucolin commented on #9
I have these plugins in my config:

plugins: [
    {
      resolve: 'gatsby-source-filesystem',
      options: {
        path: `${__dirname}/src/pages`,
        name: 'pages'
      }
    },
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        path: `${__dirname}/src/data`,
        name: 'data'
      }
    },
    {
      resolve: 'gatsby-transformer-remark',
      options: {

[2017-11-02 00:39] angeloocana commented on #9
I added
[code]
and the csv file to `src/data` and it is still working

What else do you have in your data folder?

Could you fork or download my project https://github.com/angeloocana/angeloocana
and add your data folder to see if it brokes?

[2017-11-02 00:53] gucolin commented on #9
Your repo is working after adding gatsby-transformer-csv, but not sure why mine is not...from the error output do you have any idea what might be going on?

[2017-11-02 01:02] gucolin commented on #9
Keep in mind that as soon as I remove the following block from my config file, without changing anything else, everything went back to normal
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        path: `${__dirname}/src/data`,
        name: 'data'
      }
    },

[2017-11-02 01:38] #9 closed

[2017-11-02 01:45] angeloocana commented on #9
Fixed!

Now it is ignoring files outside `pages` folder.

Do you think you will need to create pages from your `data` folder?
We will need to implement something to read `gatsby-source-filesystem` folders.

Thanks for opening the issue! =D

Now just update the package and let me know if it is fixed!

[2017-11-02 03:28] gucolin commented on #9
Don't think I will need to create pages from my data folder...and yeah I can see it's working now! Very appreciate the fast turnaround and you really saved my day :)

[2017-11-08 12:39] rudasn commented on #6
@angeloocana I believe the issue is at the `ptz-i18n` package where `getSlugAndLang` assumes that all paths (`fileAbsolutePath`) passed to that function are under `/pages/`. See `ptz-i18n/src/index.js#71`.

In my case, I have a `src/content` folder that contains markdown files and `getSlugAndLang` parses those paths as well. Since they are not under `/src/pages/` the `filePath` variable is `undefi

[2017-11-08 15:21] angeloocana commented on #6
Hi @rudasn

You are right!

Are you using `gatsby-source-filesystem` to add the folder `src/content`?
We need to figure out how to get the folders from `gatsby-source-filesystem`...

I'll be trying to fix it today, Do you have any suggestion?

[2017-11-08 18:17] rudasn commented on #6
Yes I'm using `gatsby-source-filesystem` for that.

A quick and dirty solution was to change `var filePath = fileAbsolutePath.split('/pages')[1];` to `var filePath = '/' + fileAbsolutePath.split('/src/')[1].split('/').slice(1).join('/');` which is like `/src/*/`.

It may be worth noting that this does not happen when creating pages but when creating nodes (`onCreateNode.js#29`), since `onCreatePag

[2017-11-10 02:04] angeloocana commented on #6
Sorry @rudasn =( I did not have time to solve it yet =(
I'll be working on it soon, I hope tomorrow.

[2017-11-11 22:59] Bouncey commented on #6
Subscribing. Would love a fix.

Perhaps using plugin options would help with this, like with `gatsby-source-filesystem` you could pass the plugin the path of your content.

[2017-11-13 23:48] Bouncey commented on #6
The update to `ptz-i18n` helped move us along, but we are still bound to `pages` [here](https://github.com/angeloocana/gatsby-plugin-i18n/blob/bd70fc3c52279f8c84006a7586769ef103486c76/src/onCreatePage.js#L11) and [here](https://github.com/angeloocana/gatsby-plugin-i18n/blob/e305ebf7c0d33305ece5aa70e5b981ff844d4f74/src/onCreateNode.js#L19).

We need to decouple these or we get graphql errors about

[2017-11-14 10:25] sedubois opened #10 "react-i18next, translation keys and translation services"
Hi, thanks for sharing this plugin. Do you intend to share an example to integrate with react-i18next? Right now the examples are duplicating the code between different languages, but I think they should show how to use translation keys, which avoids code duplication altogether and is compatible with translation services such as locize or other.

Right now the setup has been too complicated for me

[2017-11-14 12:46] Bouncey commented on #6
@angeloocana
Perhaps we can add another condition, like
[code]

`node.base` is the file name including the extension IIRC. The test for `filename.${langTag}.js` would be a good indicator that we have a file node of a page

[2017-11-14 13:03] Bouncey commented on #6
This could be a quick patch until a path option is implemented

[2017-11-14 15:20] angeloocana commented on #10
Hi @sedubois ,

Thank you for trying out gatsby-plugin-i18n.

It looks like a lot of folks use react-i18next.
I'm looking forward to implementing an example using it,
I can't give you a date right now, but it is on my to-do list.

It would be awesome if other folks send their own projects.
Pull Requests are welcome =D
I'll leave this ISSUE open until we get some example projects.

[2017-11-14 15:21] #7 closed

[2017-11-14 15:25] sedubois commented on #10
Thanks that would be really helpful; and to have a whole setup where HMR is functional as well.

[2017-11-14 15:30] angeloocana commented on #6
Hi @Bouncey ,

Thank you for your help!

I liked the regx, I think we should move it to a function called `isInPaths(pluginOptions, path)` and use it in all the places you pointed out. In this way we are free to change the implementation details.

What do you think?

[2017-11-14 15:32] sedubois commented on #10
NB: a better alternative might be react-intl which is probably more popular than i18next. I only mentioned the latter, because it is the one suggested in this Gatsby blog post: https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/

The best option of course would be to be able to support both.

[2017-11-14 15:46] angeloocana commented on #10
What is HMR?

This plugin can be used with both, react-intl and react-i18next. It can be used with anyone.

I have 3 projects using react-intl:

[gatsby-starter-default-i18n](https://gatsby-starter-default-i18n.netlify.com) [source](https://github.com/angeloocana/gatsby-starter-default-i18n)
[tic-tac-toe.surge.sh](http://tic-tac-toe-ai.surge.sh/) [source](https://github.com/angeloocana/tic-tac-toe

[2017-11-14 19:46] sedubois commented on #6
+1 🙂

[2017-11-14 19:54] sedubois commented on #10
HMR is hot module replacement. I further tried to use react-i18next, but I had to do really hacky things just to get HMR working which should IMHO work out of the box; it looks like a better option to use react-intl like you did in your starter, thanks for providing that! I'm just stuck at the moment because of #6 while trying to integrate it in my Gatsby site.

NB: I think it could be highlighted

[2017-11-14 21:47] sedubois commented on #10
Also, when integrating with my site, I got an error `TypeError: Cannot read property 'site' of undefined`  in the TemplateWrapper, it took me a while to figure out but it came from a conflict between the template and the layout which both have a `pageQuery`. Actually in the Gatsby examples, they never have a pageQuery at the layout level.

Could you maybe move that pageQuery logic into a template,

[2017-11-15 09:58] sedubois opened #11 "Use language prefix for all routes and links"
Currently the example at gatsby-starter-default-i18n only shows how to go to another page by hard-coding the language in the URL, e.g. `<Link to="/en/page-2/">Go to page 2</Link>`. However that's not very scalable and there should be a more generic solution to switch to some other page while preserving the current language. I guess this is where the concept of [Gatsby path prefix](https://www.gats

[2017-11-15 10:17] sedubois opened #12 "avoid code duplication between different routes"
Currently the gatsby-starter-default-i18n shows that one needs to create one separate source code file per language and per route (and even one extra for home redirection):
- index.en.js
- index.pt.js
- page-2.en.js
- page-2.pt.js

This is not really scalable; is there any way to avoid the duplication? Does this relate to the need to use Gatsby path prefixes?

[2017-11-15 13:20] angeloocana commented on #12
Hi @sedubois

Good point!
Yes, we need that for path prefixes.

One thing I like about this is that you can use different queries and layouts.

What would you suggest?
If the plugin finds a page like `test.js` it would create routes for all the languages,
and If it finds a specific language like `test.en.js` it is going to override the automatic `en` version?

[2017-11-15 13:38] angeloocana commented on #11
I don`t think `Gatsby path prefix` was created for that.
You use it when you can`t host your site at the root level, ex:

`sedubois.github.io/` -> Do not need path prefix
`sedebois.github.io/repo_test/` -> You need add `repo_test` as path prefix.

I would create your own component and functions to get the current language to create the Link.

This is one example that has a link to `/${langKey}/res

[2017-11-15 13:46] angeloocana commented on #10
Sorry if I forget something.

Did you create a duplicated name for the query?
Gatsby gives you an error if it finds duplicated queries names.

You can manually import the languages, I was doing that at the beginning,
but I think Graphql is way more powerful. When I started queries were not allowed in Layouts and now it is =D.

[2017-11-15 13:48] angeloocana commented on #10
Would you like to create a PR with that:
[code]

I could do that if you are short on time.

[2017-11-15 15:30] sedubois commented on #12
Yes hat sounds likes a reasonable behavior :) just needs to be documented properly.

[2017-11-15 15:51] sedubois commented on #11
I think it would just be quite useful if the plugin exported a Link component which would automatically prefix whatever link is passed to it, if the passed location doesn’t already have a language prefix. Like <Link to=...> (same signature as Gatsby Link).

A second parameter could be passed if one wants to change to another language, like <Link to=... lang=...>.

Happy to do what I can as I learn

[2017-11-15 16:07] sedubois commented on #10
See #13

[2017-11-15 16:11] sedubois commented on #10
There was no such Gatsby error, only `TypeError: Cannot read property 'site' of undefined`. Some things aren't resolved in the proper order I suppose. It would help if the pages themselves also had GraphQL queries to see how it fits together with the layout query.

[2017-11-15 16:17] sedubois opened #14 "Pass language config to gatsby-plugin-i18n"
Instead of importing the list of languages and default language manually, or to get them through the GraphQL API, I think it would be more logical and powerful to pass this info as options to the plugin config in `gatsby-config.js`. Then internally the plugin would always have access to the info and it would simplify the APIs quite a bit.

For example instead of `redirectToHome(langs, defaultLangK

[2017-11-15 18:56] angeloocana commented on #14
Great idea! I just don't know to implement it now.
I will take a look at how Gatsby Link works, in order to get some ideas.

About [ptz-i18n](https://github.com/angeloocana/ptz-i18n), I created it because it has only general functions and It is used by more than 1 plugin:
- [gatsby-plugin-i18n](https://github.com/angeloocana/gatsby-plugin-i18n)
- [gatsby-plugin-i18n-readnext](https://github.com/an

[2017-11-15 19:05] angeloocana commented on #11
@sedubois I'm working on it now. I hope I can finish it today.

And later the `<Link ` component! =D

[2017-11-15 19:34] sedubois commented on #14
A monorepo might help yes (with Lerna I guess), I've never built one but see many people recommend the approach.

I would just do whatever makes it easiest to pass the config to the plugin and make it available to all the functions that need it.

[2017-11-16 06:51] sedubois opened #15 "Link to GitHub from NPM"
This GitHub repo doesn't seem to be linked from the [NPM package page](https://www.npmjs.com/package/gatsby-plugin-i18n).

[2017-11-18 00:58] angeloocana commented on #6
Fixed with version v0.4.0!

Now you can add pagesPaths to gatsby-config:
[code]

Is it working for you guys?

[2017-11-18 01:01] angeloocana commented on #15
Thanks!
Would you like to open a Pull Request?

[2017-11-18 01:03] angeloocana commented on #15
The package.json already has a link to the Github page.
I don`t know why NPM is not using it. Do you have any clue?

[2017-11-18 01:06] angeloocana commented on #10
Issue fixed: https://github.com/angeloocana/gatsby-plugin-i18n/issues/6#issuecomment-345404777

[2017-11-18 12:15] sedubois commented on #15
Don't know either, maybe try same semantics as Gatsby package for homepage and repository fields :
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json

I suggest you do it as you are the one who can test publishing to NPM.

[2017-11-19 08:25] sedubois commented on #6
Thanks! I just upgraded and used `pagesPaths: [ '/src/pages' ]` with no regression. Next I'll need to uncomment all my blog code to see if it gets pulled in correctly.

[2017-11-21 04:53] Zangr opened #16 "Issue working together with gatsby-source-contentful"
I recently encountered an issue after including [gatsby-source-contentful](https://www.npmjs.com/package/gatsby-source-contentful) in a project with gatsby-plugin-i18n. gatsby-plugin-i18n doesn't seem to work very well with this contentful plugin.I haven't use gatsby-source-contentful on any pages yet. This plugin is very useful for contentful integration so I really hope gatsby-plugin-i18n can wo

[2017-11-21 15:37] sedubois commented on #6
I'm trying to enable my blog code, but I get `Error: A plugin tried to update a node field that it doesn't own`. My blog code is inspired from gatsbyjs.org, so this error is thrown in gatsby-node.js code equivalent to [this place](https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-node.js#L141) where it tries to add a field `slug` to that node.

The problematic node indeed has a flag `inter

[2017-11-21 16:57] sedubois commented on #6
I could actually just avoid creating the field myself, as the plugin does it, but the problem is that the plugin doesn't create the slug in the same way, the `'/blog'` prefix is missing.

[2017-11-22 09:06] sedubois commented on #6
OK, I got rid of the issue by actually structuring the code as done in angeloocana.com. So right now I can't say if the changes for this issue worked or not.

[2017-11-22 09:09] sedubois commented on #6
However, the proper fix for this bug shouldn't be to have to add a `pagesPath` config param to `gatsby-plugin-i18n`, because this duplicates the role of the `gatsby-source-filesystem`. I guess the plugin should instead somehow detect what are the available sources and read from there.

[2017-11-22 15:23] angeloocana commented on #6
@sedubois
So you are not using a custom folder anymore?

I agree with you, I would like a way of using `gatsby-source-filesystem` config,
but It is good to have this prop because maybe you don`t want i18n for everything.

[2017-11-22 15:27] angeloocana commented on #15
Thank you @sedubois  !!!

I think is the 'homepage' prop.

[2017-11-22 15:27] #15 closed

[2017-11-22 16:43] sedubois commented on #6
Currently I have put everything in `src/pages`, yes. I'll come back to this after I have actually managed to publish the blog.

[2017-11-26 22:53] gucolin commented on #16
@angeloocana any update on this?

[2017-12-03 20:20] #16 closed

[2017-12-03 20:48] angeloocana commented on #16
Thank you @Zangr for reporting the bug!

It is fixed!

Upgrade to:
* gatsby-plugin-i18n: 0.4.1
* gatsby-plugin-i18n-readnext: 0.0.4
* gatsby-plugin-i18n-tags: 0.0.3

I'm ignoring contentful pages.

How do you guys are planning to use i18n content in contentful?

[2017-12-03 20:51] #10 closed

[2017-12-03 20:54] #6 closed

[2017-12-04 09:52] sedubois opened #17 "Keep page scroll on language change"
The page position should be preserved when switching language, even if I have no idea how to achieve this...?

[2017-12-04 09:59] sedubois opened #18 "Allow translating page in a subset of all languages"
Thanks for writing this plugin, our new website currently uses it!

https://imagineclarity.com

angeloocana.com shows a blog where every single blog post is available in all three languages. But our migrated blog has posts either in English, in French, or in both, and the language switching breaks when there is a single language.

E.g. click on French from this page:
https://imagineclarity.com/en/

[2017-12-04 21:29] angeloocana commented on #18
Hi @sedubois !

I'm very happy to hear that =D

The https://imagineclarity.com website is getting awesome!
Would you like to add it to the readme showcase?

I had the same problem as you and I created all the translations pages.

When I click to go to French, the console shows:

loader.js:259

I don`t know what is the best solution, I can think in this options:

- Redirect to the page not found.

[2017-12-04 21:31] angeloocana commented on #17
It would be great, but I don`t have any idea too =(

Does anybody?

[2017-12-06 09:41] sedubois commented on #18
Sure. As mentioned, the link should point to the blog root at https://imagineclarity.com/fr/blog when the article does not exist in that language.

I just don't know how to detect in the code whether the post exists or not in the alternate language, to decide which link to construct? Is there a way to lookup all the available languages for a specific post?

[2017-12-08 18:59] gucolin commented on #16
Thanks @angeloocana, I'm working with @Zangr on this :) At this point we are exploring as well, so no concrete plan yet. But will keep you posted and probably need your help down the road as we go further into it.

[2017-12-08 19:19] gucolin opened #20 "Force a locale other than EN?"
I noticed that my Gatsby site can automatically switch locale depends on the my system locale, but I'm wondering if there's anyway to have my site "ignore" that system local and set it to whatever I required it to, other than EN?

Note that I've set the langKeyDefault and langKeyForNull in my config to be a certain locale. # @ #

[2017-12-08 21:45] Zangr commented on #16
Thank you @angeloocana ! We are trying contentful integration soon and will let you know how it goes with the new version of gatsby-plugin-i18n

[2017-12-09 10:18] angeloocana commented on #20
Hi @gucolin !

Are you using redirect in the /src/pages/index.js like: https://github.com/angeloocana/gatsby-starter-default-i18n/blob/master/src/pages/index.js ?

If so, you could ask to redirect directly to the default language.

Does it work?

[2017-12-09 10:32] angeloocana commented on #18
We'll need to rewrite the getSlugAndLang https://github.com/angeloocana/ptz-i18n/blob/master/src/getSlugAndLang.js

I'm working hard on a project these days, and It's being hard to have some time, next week I'll not work like this, for sure =D

First I would like to create a mono repo with:
https://github.com/angeloocana/gatsby-plugin-i18n
https://github.com/angeloocana/ptz-i18n
https://github.com

[2017-12-09 16:22] gucolin commented on #20
Lovely. Worked! Thanks

[2017-12-22 13:25] #20 closed

[2017-12-22 20:45] angeloocana commented on #18
Mono repo created!!! =D

[2017-12-22 20:45] angeloocana commented on #14
Mono repo created!!! =D

[2017-12-23 09:53] sedubois commented on #14
Great! NB: contrary to what I wrote, I saw projects recently moving from Lerna to yarn workspaces. Don’t know about the differences though.

[2017-12-23 13:53] Necmttn opened #22 "How to handle if the Translation page is not created"
let's say we have multiple pages which have translations for both,
but let say one-page haven't translated
when the user is in `example.en.js`
switch the language to `ZH` on built version it redirects to 404. is there any way to catch this when the path is not defined. instead of navigating there fire an action etc. etc.  ?

[2017-12-23 15:03] sedubois commented on #22
This is a duplicate of #18

[2017-12-23 15:19] #22 closed

[2017-12-23 15:48] Necmttn commented on #18
last couple hours I have been thinking about the best solution for this problem.
in my use case, i'm using [plop generator](https://github.com/Necmttn/necmttn.github.io/blob/dev/packages/necmttn-devtool/generators/til-generator.js) for creating new post.
which creates
`title.en.js` , `title.zh.js`, `title.tr.js`
since `en` is default it's automatically open for editing.
and in the other languages,

[2017-12-24 13:10] Necmttn commented on #18
@sedubois , @angeloocana  Hey guys please check #23 code review is welcome. :)

[example for where no translation file exist](https://necmttn.surge.sh/zh/til/social-media-post-image-sizes/)
[example for where it's exist but still on draft](https://necmttn.surge.sh/tr/til/social-media-post-image-sizes/)

by clicking `edit on github`. you guys can see source file

[2018-01-10 19:50] pbrandone commented on #12
Hi! Any news on this?

[2018-01-12 15:21] patrick91 opened #24 "Plugin deletes 404 page"
Hi, I've been trying this plugin and I noticed that it deletes the 404 page, I've tracked the code that is doing that and found this:

https://github.com/angeloocana/gatsby-plugin-i18n/blob/673cbc22e7cee454dfab83d406a6888388d9aa9e/packages/gatsby-plugin-i18n/src/onCreatePage.js#L31

Is this the expected behaviour?

[2018-01-24 07:52] Jaikant opened #25 "Ability to pass custom props while createPage"
## Discussion

The ability to pass custom props while creating the pages.

The particular use case which I needed this for was for having "next" and "prev" links for blogs. Like in the gatsby blog.

For now, I have implemented this within the blog component template, but it could possibly be done by passing a custom function to the plugin, which executes the custom function and generates custom pr

[2018-01-26 14:40] danniehakan commented on #12
I'm wondering about this as well. I was looking into a client translation approach with react-i18next which would make it more DRY, but since I want google to be able to index the strings I suppose this plugin is more suitable? How are you going to maintain three index pages that look the same in 3 different languages with this approach? Maybe I'm missing something fundamental related to the philo

[2018-01-26 14:56] sedubois commented on #12
My pages currently look like that:

[code]

[code]

[code]

So, as much as possible, code isn't duplicated. But it's still annoying that I need to create files just to re-export the generic component + need to duplicate the graphQL queries.

[2018-01-26 15:28] danniehakan commented on #12
And in this query you fetch the strings related to the specific locale, I assume? It looks tedious.

What's your take on the approach from this blogpost [https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/](url)?

[2018-01-27 15:53] kosirm opened #26 "can't initialize site from starter"
Sorry, maybe it is a stupid question but on https://github.com/angeloocana/gatsby-starter-default-i18n there is a link Moved to Monorepo... If I try to create a multilanguage site from that repo, I got an error. Should I use old repo for starter instead?

[2018-01-27 15:59] kosirm commented on #26
I successfully started new gatsby multilanguage site from starter  https://github.com/angeloocana/gatsby-starter-default-i18n, so assume the answer is YES 😄

[2018-01-27 15:59] #26 closed

[2018-01-27 17:31] sedubois commented on #12
The `aboutPageFragment` query is unrelated to i18n. I just mention it here because as there are two separate pages, two separate GraphQL queries are needed: `AboutEnQuery` and `AboutFrQuery`. Otherwise the graphql templates extraction will fail.

The `AboutPage` class contains normal react-intl `FormattedMessage` components.

About that blog post I had those questions: https://twitter.com/semduboi

[2018-01-27 23:04] HriBB opened #27 "Default language as /"
Hi

Is it possible to use some language as default, and prefix other languages with two letter string? For example Slovenian would be the default
[code]
And English would be an alternative
[code]
Thanks

[2018-01-28 10:58] danniehakan commented on #12
I see. Thank you for the insight to the discussion regarding the blog post.

Were I'm confused is, while I'm getting SEO friendly routes by setting up the project with this plugin, how will the pages be properly indexed if the strings are XHR? Is that not a problem? Also I would need to connect the route created by gatsby to the specific language somehow, no?

Regarding what I'm using, I've not be

[2018-01-28 12:37] sedubois commented on #27
I recently wondered the same, this would be very useful. Currently there's no easy way to link to any page, specific redirect logic needs to be added. For example if I have an /en/about and /fr/about page, linking to /about won't work. If pages in the default language have no prefix, it would solve this issue.

[2018-01-28 12:45] sedubois commented on #12
As Gatsby is a static site generator, your localized routes are generated at build time, i.e. you will have one HTML page per language which should then be trivial for search engines to pick up. Whatever localization system you use (react-intl, react-i18next, js-lingui, etc), you just need to check that those static HTML pages indeed contain the text that you expect. You can check what is generate

[2018-01-28 13:13] danniehakan commented on #12
Regarding

Are you saying the localized HTML files will actually have localized strings in them when google is crawling, meaning in the actual `public/` folder? Because I don't see how that is true with the above said libraries (react-intl, react-i18next, js-lingui).

[2018-01-28 16:16] danniehakan commented on #12
I might be missing something, but those files in your build could as well not contain the actual strings(?)

I looked at the site that the gatsby i18n blog post was based on ([doopoll.co](doopoll.co)) and I still saw the actual component translations being fetched after the initial page HTML had been loaded.

[2018-01-28 22:43] braco opened #28 "TypeError: Cannot read property 'jsonName' of undefined"
This plugin seems to be either causing or provoking this error in Gatsby:

`TypeError: Cannot read property 'jsonName' of undefined`

https://github.com/gatsbyjs/gatsby/issues/3183

Which for me seems to mean that certain translation layouts aren't found. Should this error be handled here better, or in gatsby, or both?

[2018-01-28 23:48] braco opened #29 "Installing the starter?"
Is there a canonical way to install this starter?

`gatsby new [project name] [github url]`

is the command format, but that doesn't work since this is a monorepo. Your current documentation link sends users to the official docs, which give non-working instructions.

[2018-01-29 01:32] HriBB commented on #27
What about `/si/novice` and `/en/news`? This patterns is also not supported, right?

I was thinking a lot about i18n in the last few days. There are so many different scenarios and requirements, that it would be virtually impossible to cover all of them.

My idea is, to simply inject i18n functions into all my Gatsby pages. I could handle language in my layout or page components, or inject it into

[2018-01-29 04:56] braco commented on #12
@sedubois make an react-intl starter :)

[2018-01-29 06:41] sedubois commented on #12
@danniehakan I can confirm that those files contain the actual translated strings, both in the case of the blog's language-specific markdown files and in the case of JSX pages with FormattedMessage.

E.g.
[code]

@braco 👍 I might not have time for that but happy to have a look if you try out js-lingui (haven't done so yet).

[2018-01-29 06:45] sedubois commented on #27
@HriBB plugin does not cover my requirements either, but was a good start. Would be great to improve it little by little so that we don't all have to redo the same work.

I'd also like to try out [js-lingui](https://github.com/lingui/js-lingui) which looks promising (currently using react-intl).

[2018-01-29 18:01] danniehakan commented on #12
@sedubois That's exactly what I was looking for! Do you have any idea why this would work differently than `react-i18next` though? I set up the latter and cannot really get it to work like you have.

[2018-01-29 21:12] sedubois commented on #12
I don’t know I guess that’s just the point of a static site generator, isn’t it? Gatsby generates static HTML files, so that the page contents are correct even before JavaScript takes over. For this to work you probably need to ensure that e.g the strings aren’t fetched after the React components get mounted.

[2018-01-30 03:23] braco commented on #27
Ideal scenario for me:
1. Default language needs no prefix
2. Translations kept in a key/value dictionary, no duplicate layouts
3. Pre-rendered routes, no fetching afterwards

We're not that far from these goals with this package, are we?

[2018-01-30 03:25] braco commented on #12
@angeloocana: agree this would be good:

[2018-01-30 08:12] sedubois commented on #27
It seems so. Would be great to have @angeloocana’s inputs on what would need to be done to get there.

[2018-01-31 00:31] braco commented on #27
One more consideration would be using rel=canonical on the default language if there is duplication between, say, /foo and /en/foo

[2018-02-01 20:57] kbytin commented on #17
what if immediately before switching save position in localStorage, and check for this data on page translated page load?

[2018-02-03 11:47] sedubois opened #30 "Moving codebase to gatsbyjs?"
Considering that there is quite some interest for this plugin, what about moving the code to the Gatsby repo's `packages` folder in order to gain attention and increase the chances of having people helping? After all that repo has much more visibility.

[2018-02-05 13:10] sedubois commented on #24
I have also been wondering why it deletes the 404 page, sounds like a bug. @angeloocana would you be able to comment on that and if we can bring it back?

[2018-02-05 16:09] Jaikant commented on #24
I did a test for this, by replacing the line [here]
(https://github.com/angeloocana/gatsby-plugin-i18n/blob/673cbc22e7cee454dfab83d406a6888388d9aa9e/packages/gatsby-plugin-i18n/src/onCreatePage.js#L32)

by this piece of code,

[code]
This makes it work for the default language. But the layout(navigation bar) is broken for the secondary languages.

A work around could be to put a redirect from /404

[2018-02-06 22:06] angeloocana commented on #30
Could be good and bad.

I`m just afraid of how to keep track of everything related to i18n.
I downloaded Gatsby a few times and it is quite heavy.
I did watch their repo for a few months, but I got crazy with hundreds of e-mail per day.

[2018-02-06 22:16] angeloocana commented on #29
Yes! We have a problem :(
I did not find a good solution, I'll try to update the old repo always with the actual code.

[2018-02-06 22:43] angeloocana commented on #27
Hello guys!
Awesome discussion!!!

We need a way to map and link the translations pages.
Let's think about how should the API looks like.

Ideas:
- One config file grouping the pages.
[code]
- Params in the header of the markdown.
[code]
- Variables in the .js files?

What do you guys think?

[2018-02-07 00:19] HriBB commented on #27
I decided to try to build my own solution, just to learn Gatsby. In the end I decided to query translations with graphql. Feels like the right way with Gatsby.

Here's a gist of what I came up with https://gist.github.com/HriBB/1fca4773651948741311a2ccda76d491

I need to add two things in my page component:
1. query the locale with graphql
2. enhance Page component with a custom `translate` HOC

T

[2018-02-10 08:45] mccrodp opened #31 "Making this work with Contentful"
@mccrodp commented on [Tue Feb 06 2018](https://github.com/angeloocana/gatsby-starter-default-i18n/issues/7)

Hey, firstly, many thanks for this repo, so helpful (using this to migrate a personal project from Elm). Have it almost working, just some misunderstanding of the way the layouts are working.

I guess this works on something to do with: `useLangKeyLayout: true` in the gatsby.config.js file

[2018-02-10 08:48] mccrodp commented on #31
Giving this another short today, working in the opposite direction. Starting with the default repo and bringing in the Contentful w/ Gatsby requirements part by part, rather than bringing this repo for i18n into what I had. Will comment with findings.

[2018-02-10 09:56] mccrodp commented on #31
Couldn't get it working, initially I was getting this TypeError https://github.com/angeloocana/gatsby-plugin-i18n/issues/6, then I just made it more like my previous working Contentful example on [master](https://github.com/ahimsayoga/ahimsayogajp) where it does pull in the contentful content, but gives me the error in this issue description. However, this time it seems it pulls in the Contentful

[2018-02-11 06:44] mccrodp commented on #16
Hey @gucolin, @Zangr , did you get this working? Just came across this issue, I had similar here: https://github.com/angeloocana/gatsby-plugin-i18n/issues/31 Going to try at it again today, but no luck so far.

[2018-02-11 07:04] mccrodp commented on #12
Yea, I'd love to see some kind of starter for that and `react-i18next` with Gatsby. I felt not having a repo to look at with this post https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/ made things uncertain and I'd prefer to invest time in the `gatsby-plugin-i18n` at the moment instead of the alternatives, as at least I can see the plugin working locally, although I'm having issu

[2018-02-11 07:32] mccrodp commented on #16
I attempted to simplify things and start with the default [using-contentful](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful) example, then try to add this plugin. It's just a start and I'm not sure how the internals are working, but any suggestions welcome.

https://github.com/mccrodp/gatsby-contentful-i18n/pull/1

[2018-02-11 07:33] mccrodp commented on #31
As I commented over in https://github.com/angeloocana/gatsby-plugin-i18n/issues/16, I created a repo to try and simplify things for using-contentful and this plugin. Feel free to close this issue if the other one is better to be re-opened. https://github.com/mccrodp/gatsby-contentful-i18n/pull/1

[2018-02-11 10:58] AAverin commented on #27
There should be a way to have a fallback
So if I have
[code]
When opening `<base>/en/index` I should fall back to `index.js` because there is no specific english version provided

This would solve having the same content for many languages and still support different language routes

As for the specialized naming of urls for other languages – I would keep it as separate feature and PR

[2018-02-11 11:21] AAverin opened #32 "TypeError: Cannot read property 'id' of undefined"
Getting this at random in `gatsby develop` after I added the plugin
No other plugins except helmet and analytics are installed
[code]

[2018-02-17 11:03] mccrodp commented on #31
Making progress here, I've added a simple working repo example for MarkdownRemark blog with i18n working, going by [your docs](https://github.com/angeloocana/gatsby-plugin-i18n/blob/master/README.md) and some hacking. https://github.com/mccrodp/gatsby-transformer-remark-i18n

[2018-02-17 11:34] angeloocana commented on #31
Awesome!!! Congratulations! =D

[2018-02-17 12:57] mccrodp commented on #31
Thanks @angeloocana, and cheers again for the awesome plugin. Will make sure to contribute back anything I figure out, but still early days for me here. My goal is to be able to have the [default contentful example](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful) working with this i18n plugin as a starter repo available for people to use.

I have some concerns at the mome

[2018-02-17 23:03] mccrodp opened #33 "Integration and compatibility with Netlify CMS"
In my question to make this work with Contenful, I have also evaluated Netlify CMS and it seems we only need simply control of the filename to work with this plugin.

I have created an issue over in that repo and will report back here: https://github.com/netlify/netlify-cms/issues/1114

[2018-02-18 00:40] mccrodp commented on #31
Some more thought on this and a follow up question:

What else does this module do, aside from parse the files to generate locale specific prefixed paths and provide language switch selector?

The way I see things at the moment, is the locale specific paths is the issue, but I can work around this by using the default `createPage` hook

[code]

So, in that case, I can work around this without need

[2018-02-18 20:23] morgler commented on #12
I'm currently also struggling with setting up a simple multi-language and SEO-friendly site with this. Using the approach of gatsby-plugin-i18n leads to unnecessary code duplication. It also does not extend nicely into translation components. But i18next on the other hand is not SEO-friendly.

I would love to see an approach where I could have language urls like example.com/en and example.com/de,

[2018-02-18 23:17] gucolin commented on #16
@mccrodp Yeah it's working for us. The new i18n plugin version fixed this. We were mixing multiple starters to get everything working. By looking at #31 I assume you solved it already? If not let me know and I can dig up our source code and have a look (can't remember all the details on top of my head :P)

[2018-02-19 00:25] mccrodp commented on #16
@gucolin, if you could get the source that'd be really awesome. I believe I'm close, but I can't get it yet. Really appreciate your feedback here and would love to see some code on how you solved the URL generation from Contentful. Thanks!

[2018-02-19 00:39] gucolin commented on #16
We did something like this in gatsby-node.js:

`createPage({
        path: `${path}`,
        component,
        context: {
          langKey: node_locale,
          path: `${path}`
        }
      });`

Where in contentful we manually specify the 'path' with /en/ prefix or some other languages we support. For example: '/en/news/blah'. Hope that helps or let me know if you need anymore details.

[2018-02-19 00:55] mccrodp commented on #16
I'm going to give it another go soon. As you can see over in #31, I had the idea to auto convert the path based on locale as I only have one content instance and the fields are localised rather than separate content per language in contentul.

[code]

So, you don't get any other conflicts with this plugin? Ok, I'm going to give it another go and get back to you if I come across something more spec

[2018-02-19 01:00] gucolin commented on #16
Yeah that seems to be a better idea. I haven't seen any conflicts after upgrading to 0.4.1, and our website is now run 100% on contenful + gatsby + i18n. Still needs a lot of improvements but yeah it's working :)

[2018-02-19 02:33] mccrodp commented on #31
I believe we are in business, repo working with the Contenful example: https://github.com/mccrodp/gatsby-contentful-i18n

Can't get the lang selector message working at the moment though.

Any ideas there, let me know. Thanks! 😄

[2018-02-19 02:33] #31 closed

[2018-02-19 02:34] mccrodp commented on #16
Got this working, so many thanks for your input. Here's a repo with the start of i18n w/ default Contentful example: https://github.com/mccrodp/gatsby-contentful-i18n

[2018-02-19 02:40] mccrodp commented on #31
Created an issue on that over here: https://github.com/yahoo/react-intl/issues/204#issuecomment-366575597

[2018-02-21 06:19] mccrodp opened #34 "Add transform remark starter repo"
Hey, as was discussed over at https://github.com/gatsbyjs/gatsby/pull/4138#issuecomment-366926723 about adding a starter repo, such as https://github.com/mccrodp/gatsby-starter-transformer-remark-i18n for transform remark blog w/ i18n.

Do you think that it would be better located in this repo, here: https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages or accessible via the Gatsb

[2018-02-21 11:55] angeloocana commented on #34
Congratulations @mccrodp ! Nice job!

I think it is better to live in another repo, because of that: https://github.com/angeloocana/gatsby-plugin-i18n/issues/29

[2018-02-22 07:17] mccrodp commented on #34
Gotcha, thanks, will try to follow up on this. Do you think it's useful to link out to any of these starter repos from this plugin monorepo? It might be handy for people to get a headstart on using it with dynamic content. i.e. - markdown remark, contentful cms, netlify cms (in future hopefully), etc.

[2018-02-22 07:30] mccrodp commented on #12
I'm not sure if this is related @angeloocana, @sedubois, but I'm wondering if we can learn anything to improve the code base by the following 2 comments here: https://github.com/gatsbyjs/gatsby/issues/3853#issuecomment-367313981, the few comments above that on Kyle's suggestion and this repo also https://github.com/szimek/gatsby-react-intl-example

I think it's the same issue we're all talking abo

[2018-02-22 12:58] angeloocana commented on #34
What do you mean by link?
Add a link to the docs? If yes, feel free to edit the readme and anything you want to improve!
You are welcome!

[2018-02-22 13:04] angeloocana commented on #32
Hi @AAverin  , Thank you for opening the issue,

I don't know right now what that could be,
could you please create a repo reproducing the error?
Or detailed steps on how to get it.

[2018-02-27 08:01] MaralS commented on #28
@braco I'm still stuck in this error. I have no problems on my mac and that's the problem :/

[2018-02-27 14:56] romeboards commented on #12
Hey @sedubois - looking at your above code structure, have you found any caching problems with gatsby not loading new data into the fragment thats attached to the component? I found that I need to frequently be doing `rm -r .cache` with this format, unless its unrelated...

[2018-02-27 19:54] sedubois commented on #12
Sorry @romeboards, haven’t been having caching issues so far. If you have a way to repro you could always file an issue

[2018-03-01 10:50] sedubois opened #35 "Warning: plugin used reserved field name "path""
The build throws this warning (does not seem to lead to bugs but should be fixed I guess):

[code]

[2018-04-02 15:03] ChrisBoon commented on #24
@Jaikant Thanks for this code, I've used it to workaround the problem. Any plan to do a pull request for this? If not, I can do so.

For your language issue on the 404 page, the way I've handled it is to put current language into sessionStorage whenever visiting a valid page. I read the value in the 404 page and set language text and links accordingly. If the user arrived directly at the 404 witho

[2018-04-06 06:23] danmaq opened #38 "Crash when placing posts in places other than `/src/pages`."
Hi, Thank you to create a nice plugin, I'm using it to create blogs.

Well, I found a bug in the `gatsby-plugin-18n-tags` package.
If specified the posts in a directory other than `/src/pages`, the build will fail as shown below:

[code]

I look like the type of the params passed to `ptz-i18n.getSlugAndLang` function was incorrect.
The `options` parameter of this function seems to [expects an plug

[2018-04-06 14:31] angeloocana commented on #38
Thank you @danmaq ! Nice work!

Could you open a pull request with the fix?

[2018-04-07 11:53] podabed opened #39 "{i18nMessages} undefined in prod, but has value in dev"
How to fix this?

So, my index.jsx:
[code]
My prod build log (with console.log(props)):
[code]

[2018-04-12 13:14] ThiagoMiranda opened #41 "Multiple postPage"
Hi,

I´ve a GatbsyJS website with multiple templates ( called as components ) controlled by the createPage below:
[code]

With the i18n I can set multiple template pages as well? Reading the docs I´ve found that the postPage only accepts one string.

Thanks!

[2018-04-21 22:11] ThiagoMiranda commented on #27
@HriBB Hi
I've tried your gist code but my `onCreateNode` callback is failing on this part:
[code]
with the following error: `TypeError: Cannot destructure property `lng` of 'undefined' or 'null'.`
Do you have any idea of what it is?

Btw, do you have a working repository of that own i18n extension? That would help a lot

Thanks!

[2018-04-21 22:30] ThiagoMiranda commented on #27
Actually I've saw that the https://imagineclarity.com/ site ( that is pointed as an example of the `gatsby-plugin-i18n` use ) doesn't show the default language just when you switch to french.

[2018-04-22 05:39] sedubois commented on #27
@thiagomiranda Imagine Clarity has been switched back to another technology for now, it’s not React any more (hope to get back to this later).

[2018-05-07 04:43] CanRau commented on #27
Hey guys i'm a little confused about language urls
Anyone knows if it's beneficial to have prefixes for all languages, so for default too) google wrote in some article prefixes should be on every page but didn't get into more detail aboutit
I'm used to default being just / and it looks kind of cleaner but maybe it's clearer when every language has it's prefix (like currently in the plugin)

Mentio

[2018-05-07 11:54] angeloocana commented on #27
Hi @CanRau

I think using prefixes for all languages makes it easier to build and change to another language.

But I do think the main language using just '/' is good for the users.

[2018-05-08 21:56] CanRau commented on #27
but it wouldn't really affect seo, or would it?
i'm using a custom i18n solution at the moment so i already have prefixes only on the non default language and as titles are translated, too it's not only changing the prefix to switch languages

[2018-05-17 14:54] marco-carvalho commented on #35
somebody found a workaround to resolve it?

[2018-06-03 11:46] martynhoyer opened #42 "`pathContext.langKey` on 404 page?"
Should the `langKey` prop on the `pathContext` on the 404 page be the current language?

I have the `<IntlProvider>` in the layout component, and if I check `this.props.intl` on my 404 page, the `locale` is correct, as expected, but if I check `this.props.pathContext`, the `langKey` there is just the default `langKey` from `gatsby-config`.

I need the correct language in the `pathContext` so I can

[2018-06-25 13:30] sebastienfi commented on #30
@angeloocana It would be great to be able to contribute to this code. It is very useful and having it hosted at gatsbyjs repo could help maintaining it.
To filter the emails your receive from gatsbyjs repo, you could create a rule to filter out what contains `gatsbyjs` but doesn't contains `i8n`.

[2018-07-08 16:45] zebnat opened #43 "does this plugin handles hreflang support?"
Sometimes the slug url changes for the same page but different language:
For example:
/es/acerca-de-mi/
/en/about-me/
or
/es/blog/implementar-internacionalizacion-con-gatsby/ < same content but different language
/es/blog/i18-implementation-with-gatsby/ < same content but different language

how about a way to link to the different lang page but with different slugs and also print the hreflang stu

[2018-07-09 13:53] ChrisBoon commented on #43
To update the lang attribute I would recommend you use React Helmet:
[React Helmet](https://github.com/nfl/react-helmet )
Something like this in your index.js page (or a nested component):
[code]
where `langKey` is the value provided by gatsby-plugin-i18n.

[2018-07-09 13:58] zebnat commented on #43
I meant this

[hreflang google localization](https://support.google.com/webmasters/answer/189077?hl=en)

looks like there is no support for this, i will pre-build a sitemap with this information, seems like the better option with gatsby.

[2018-07-09 14:36] ChrisBoon commented on #43
My bad, wasn't paying enough attention. For many people react-helmet is still the way to go. It can generate link tags in the head. In fact they have an hreflang example on their github readme - inside the `<Helmet>` tags you'd do something like this:
[code]

where locales is an array of all the languages your site is available in.

However for your case this is tricky as you aren't just changing

[2018-07-09 14:45] zebnat commented on #43
Yep i need something like this, changing url slug for SEO purposes is the recommended aproach, i've build dynamic multilingual websites with raw php and my custom mvc framework but when using gatsby + a plugin for internationalization i expected to have those features available

Right now the best choice to me since i don't have enough experience with gatsby and plugins is just build a sitemap wit

[2018-07-09 15:29] ChrisBoon commented on #43
Hmmm, yeah. It does sound like a good use-case for a plugin. Not sure whether @angeloocana would want to add it to this plugin or if he's trying to keep this one lean, but to me it seems a good place to do it.

For you right now, if you're happy doing as a sitemap then that's cool. If you'd prefer to have the links and your site isn't frequently updated you could just manually create a json file w

[2018-07-16 11:59] justintemps opened #44 "Error: starter doesn't exist"
Running

`gatsby new website https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages/gatsby-starter-default-i18n`

returns the following error:

[code]

[2018-07-18 10:09] #44 closed

[2018-08-01 14:28] nicholasc opened #45 "Support language based routes"
This is probably more of a feature request or something I haven't figured out how to do.

We currently have no way to do something like `/en/italy` and `/fr/italie` without creating `/en/italie` and `/fr/italy` because routes are based on file/folder names.

Should we think about a non file based routing approach? I don't have a proposition as of yet because I may be completely out of line.

Let m

[2018-08-01 18:25] angeloocana commented on #45
This is a feature everybody is asking for.

I started working on that, but I'm not having enough time to do it =(

There is some discussion about it here: https://github.com/angeloocana/gatsby-plugin-i18n/issues/27

[2018-08-08 08:44] vanbroup opened #46 "MDX support (gatsby-plugin-mdx)"
Please consider adding support for type `Mdx` similar to `MarkdownRemark`:

https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/

[2018-08-08 08:49] vanbroup opened #47 "Gatsby V2"
Gatsby V2 has deprecated `boundActionCreators`:

[code]

[2018-09-06 20:29] shannonbux opened #48 "Plugin link not working in Gatsby plugin library"
Hi @angeloocana! How are you? I was just searching for `gatsby-plugin-i18n` in the Gatsby plugin library, and I believe your plugin is the top search result, but the plugin READme file isn't showing up and the link to the repo seems to be not linked to this repo.

Am I assessing this situation correctly? Just wanted to make sure you knew--would you want to fix those issues?

[2018-09-16 19:14] nartc opened #49 "'Cannot query field "langKey" on type "fields"."
Hi,

I'm trying to get `gatsby-plugin-i18n` to work with my blog. I keep getting this error when I run `gatsby develop` and I couldn't find the solution anywhere.

// my gatsby-config.js
[code]

Any help is appreciated. Let me know if you need to see anything else.

[2018-09-22 22:42] mohsenkhanpour commented on #47
Just change `boundActionCreators` to `actions`.

[2018-11-05 22:20] VladBlow opened #50 "Gatsby version"
Hey. Please, provide information about version Gatsby to Readme file, because you solution don't work with Gatsby v2

[2018-11-06 07:42] sedubois commented on #50
@VladBlow there's a discussion here:
https://github.com/gatsbyjs/gatsby/issues/3853

Personally I very much like [Lingui JS](https://github.com/lingui/js-lingui) which I already use, and am patiently waiting for the release of v3, after which its creator @tricoder42 said he would help provide an official Gatsby demo. He also just gave a [presentation](https://lingui.js.org/misc/talks-about-i18n.ht

[2018-11-06 15:39] VladBlow commented on #50
@sedubois thank a lot. https://github.com/dcroitoru/gatsby-starter-i18n-lingui is working fine for me

[2018-11-06 18:36] sedubois commented on #50
Yeah it might work fine to start but is for an older version as far as I remember and there’s some things it doesn’t handle. There’s also a discussion about that on the lingui repo.

[2018-12-11 12:51] bjrn commented on #47
this PR contains the changes required: https://github.com/angeloocana/gatsby-plugin-i18n/pull/51

[2019-01-04 08:06] mccrodp opened #52 "Automatic language detection error in starter package on Gatsby v2"
Hey @angeloocana, trying to upgrade the default starter to Gatsby v2 and I'm getting an issue with the approach. As mentioned here https://github.com/angeloocana/gatsby-starter-default-i18n/issues/4 it mightn't be the best approach, but not sure if we've any other options for Gatsby V2.

[code]

I'm getting an error with WSOD now:

Any ideas?

**Update:**
Added this work around for now:

[code]

I

[2019-01-04 22:43] hugomn commented on #52
Hey @mccrodp. `navigate` from gatsby will solve the issue.

[code]

I think @angeloocana didn't have time to upgrade his starter to gatsby v2 yet. If it helps, I did it for my personal website last week: https://github.com/hugomn/hugomagalhaes.com. Cheers!

[2019-01-04 23:02] hugomn opened #53 "How to skip lang in url for default?"
Hi @angeloocana! Thanks again for the amazing plugin. I was trying to hide the /{lang}/ for the default url (only). For example to have `/blog/first-post` and `/blog/pt/first-post/` when `en` is the default language. Is there a way to do that? If not, can you quickly guide me how to implement it?

Thanks in advance!

[2019-01-05 14:20] hugomn commented on #53
I was just debugging a bit more and now is clear that this option is not supported yet (gatsby-plugin-i18n-tags always prefix the url with lang, so there's no workaround for now).

I was thinking if it makes sense to include a new option in the main plugin, to avoid prefixing url's for the default lang, including all plugins, something like:

`prefixDefault: false`

Does that make sense? I can try

[2019-01-05 23:30] mccrodp commented on #52
Beautiful, works a treat, thanks a lot @hugomn, and well done with the site, looking great! 😄

[2019-01-06 18:02] angeloocana commented on #53
Hi Hugo!

We could have an array of languages and check if the URL starts with one of
them, if not we know it is the default language.

I think your idea is good about creating the option to use the default
without prefix.

Thank you for everything!

On Sat, Jan 5, 2019, 09:20 Hugo Nogueira <notifications@github.com wrote:

[2019-01-07 23:53] hugomn commented on #53
@angeloocana PR created here: https://github.com/angeloocana/gatsby-plugin-i18n/pull/54

Best!

[2019-01-26 12:05] hugomn commented on #53
Feature merged. Thanks @angeloocana! ❤️

[2019-01-26 12:05] #53 closed

[2019-01-26 12:06] hugomn commented on #50
This plugin is working fine with Gatsby v2. I have a working example here: https://github.com/hugomn/hugomagalhaes.com

[2019-01-26 15:11] angeloocana commented on #50
Thanks to @hugomn , @bjrn, and all the contributors this plugin is working with Gatsby v2.

@hugomn  would you like to add your website to the readme showcase?

[2019-01-26 15:11] #50 closed

[2019-01-26 15:14] hugomn commented on #50
@angeloocana Thanks! =)
Feel free to add if you think it can help people using the plugin! 🙏🏻

[2019-01-27 23:54] angeloocana commented on #50
Added!

[2019-01-30 23:46] angeloocana commented on #52
Thanks @hugomn !!!

[2019-01-30 23:46] #52 closed

[2019-02-10 09:01] Charlynux commented on #49
Just meet the same error message.

Problem come from `onCreateNode` which reject my blog posts for not having 'isInPagesPaths' at true. By default, pagesPaths is `['/src/pages/']`.

So I "fix" this with a correct configuration (my markdowns are in `content/blog`) :
[code]

[2019-02-13 03:24] IanVS commented on #47
Sounds like this can be closed, then?

[2019-02-14 09:18] axe312ger commented on #47
I think so too

[2019-03-04 15:35] AAverin opened #59 "Locked dependency on 0.11.7 graphql is not compatible with latest GatsbyJS"
I get this in my package-lock.json:
[code]

Notice graphql set to 0.11.7

there is a graphql 14.1.1 coming with GatsbyJS and when I run my project with both i18n and latest gatsby I get
[code]

[2019-03-04 15:44] AAverin commented on #59
Looks like I grabbed the wrong version of the plugin
How can I get gatsby-v2 version? Is it available on npm already?

[2019-03-14 15:53] ergunpp opened #60 "Steps for the Internationalisation of existing site"
Hi,
I have just finished my first site with Gatsbyjs and taken it alive. You can check it here:[Site](https://bestpet.com.tr)
I am planning now to add a second language, but am not sure how to proceed. I have the following structure:
1. Static index page
2. Product listing page with a page query fetching data from contentful.com, where the products are already translated
3. Product detail page, wh

[2019-03-15 14:39] grischa opened #61 "slug not localised"
Would it be possible to get the slug from somewhere other than the file name?
E.g.: a file called `about.de.js` should have slug `/de/ueber-uns`, while `about.en.js` can point to `/en/about`, as before.

Localised URLs just look so much nicer, but filenames really shouldn't be localised

[2019-04-03 14:34] peterjaap commented on #61
+1

[2019-04-06 13:38] hugomn commented on #45
Hi @angeloocana. Do you have a branch with the work you started? I'll try to implement this in the next days.

[2019-04-06 13:38] hugomn commented on #61
Duplicated: https://github.com/angeloocana/gatsby-plugin-i18n/issues/45

[2019-04-06 16:16] angeloocana commented on #45
@hugomn  I don't have it anymore =/

[2019-04-06 16:19] angeloocana commented on #61
@grischa that would be awesome.
We have this feature in mind we just don't have time =/
Any help would be really appreciated!

[2019-04-28 21:59] kalwalt commented on #45
Hi to all! i'm working on this starter [gatsby-starter-i18n-bulma](https://github.com/kalwalt/gatsby-starter-i18n-bulma) that let you assign different names, probably not the best approach, but for now i'm satisfied. @angeloocana @nicholasc  if you want take a look at and let me know what do you think.

[2019-04-29 10:08] kalwalt opened #63 "Issue with gatsby-plugin-i18n-tags: error with image query."
I'm working on this starter [gatsby-starter-i18n-bulma](https://github.com/kalwalt/gatsby-starter-i18n-bulma). It use the `gatsby-plugin-i18n`, i would add the `gatsby-plugin-i18n-tags`, but i get this kind of error:

`GraphQL Error Field "image" must not have a selection since type "String" has no subfields.`

You can find a long description see this [gist](https://gist.github.com/kalwalt/017c7b8

[2019-04-29 20:55] robinmetral commented on #35
Hi :wave:

Correct me if I'm wrong: this has been fixed in #56, but the warning remains for backward compatibility?

Thank you :raised_hands:

[2019-04-30 12:12] kalwalt commented on #63
I think it's an issue with some package incompatibility, i will inform you on this issue when i completely solve it.

[2019-05-01 19:09] kalwalt commented on #63
I solved this issue. It wasn't caused by the package at all. The reason was a non existent `image` variable in the frontmatter of some page and the page template searching for  it. I solved creating a dedicated template with that variable. Sorry to opened this issue but at first i thought that was a problem with the `gatsby-plugin-i18n-tags`... :smile:
Closing this.

[2019-05-01 19:09] #63 closed

[2019-05-13 09:01] benknight opened #66 "Automatic replacement of URL based on navigator.language"
I noticed that the [demo site](https://gatsby-starter-default-i18n.netlify.com) will automatically replace the URL with a prefixed pathname based on the user's browser's language settings.

For example, if I set my language to "Portuguese" and then open the demo site, the URL will be replaced with https://gatsby-starter-default-i18n.netlify.com/pt/

If I clone this repo, build and run locally howe

[2019-05-17 03:18] huicaixia commented on #44
I also got this error, how to solve it?

[2019-05-30 20:23] RafaelEsaa commented on #35
@sedubois how do you resolved the problem? I have that problem too

[2019-05-31 06:29] sedubois commented on #35
@RafaelEsaa I stopped using this plugin as it had various issues and wasn't quite necessary for me.

[2019-06-24 09:15] openscript commented on #47
Works for me with v2.

[2019-06-24 15:06] jupl opened #67 "Does not work with gatsby-plugin-page-creator"
[gatsby-plugin-page-creator](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-page-creator) allows one to put pages in a place other than `src/pages`. When I use that plugin with this one (regardless of order) while my pages are in a different location I get errors when going to a different language. Only when I move my pages back to `src/pages` everything works again.

![scre

[2019-06-24 15:06] #67 closed

[2019-06-29 16:03] ningo-agilityio opened #68 "Cannot read property 'createNodeField' of undefined"
Hi,
This is my error:

[code]

And this is my dependencies:

[code]

Anyone here face this issue? I don't know I missed any configuration.
I'm following this guideline https://github.com/mccrodp/gatsby-starter-contentful-i18n/.
I did follow this solution but it still doesn't work for me https://github.com/gaearon/overreacted.io/issues/71.
Hope to get your answers soon. Thanks.

[2019-07-01 03:58] ningo-agilityio commented on #68
I figured out the reason, `"gatsby-plugin-i18n": "^1.0.1"` doesn't work with gatsby v2.
So I downgrade it to `0.4.2` and it worked.

[2019-07-01 03:58] #68 closed

[2019-07-03 15:07] hugomn commented on #47
@angeloocana do you need help cleaning the issues?

[2019-07-21 06:57] tudor2004 opened #69 "Invalid prop `children` of type `object` supplied to `Layout`, expected `function`."
Cloned the gatsby-plugin-i18n starter and runned gatsby develop but I get the following error:
`Invalid prop `children` of type `object` supplied to `Layout`, expected `function`.`

Any ideas why?

My feeling is that there is something wrong in the layouts/en.js file

[2019-07-22 12:12] davidcostadev commented on #49
Hello guys, I'm trying to implement yours package on my website and I'm followed the README documentation, I do that is there but I'm catching this error:
[code]

This is the source with error: https://github.com/davidcostadev/davidcosta.com.br/pull/2

[2019-07-22 12:18] davidcostadev commented on #49
Hum... I did what @Charlynux suggest and works.

[2019-07-22 12:31] davidcostadev commented on #49
Sorry for flood, but I'm getting this error now:
[code]
[code]

[2019-07-29 20:58] blopa opened #70 "Filter post by language?"
Is it possible to add an example of filtering and show posts for specific language on `gatsby-starter-default-i18n`?

Thank you

[2019-08-06 14:39] mattez commented on #66
I'm also trying to find this functionality in the code of DEMO page with no success.
In my case, when I set `prefixDefault: true` then on my index page `/` is WSOD. Only when I manually add lang code `/en` the `index.en.js` is loaded.
Some how that redirect / routeing does not work.

How to get that redirect? Any ideas? Thank you.

[2019-08-06 15:04] mattez commented on #66
I just found that all of these logic is in `gatsby-plugin-i18n/packages/ptz-i18n/`

[2019-08-06 16:03] mattez opened #72 "ptz-i18n redirectToHome.js does not work?"
My setup  is `prefixDefault: true`  and `langKeyDefault: 'en'` all node packages in last versions.
When I use `gatsby develop` then on my index page `http://localhost:8000/` is WSOD and in console is:
[code]
Only when I manually add lang code `/en` the `index.en.js` is loaded.
Some how that redirect / routeing does not work.

It behaves differently when I build it `gatsby build` and than use `gats

[2019-08-06 22:14] hugomn commented on #72
Hi Matej! Can you provide a repo with your issue? I’ll try to reproducer
and fix it here.

Matěj Kříž <notifications@github.com> schrieb am Di. 6. Aug. 2019 um 18:03:

--
Hugo Nogueira
Engineering Lead @ BCG Digital Ventures
p+49 152 74477807
ehello@hugo.im
whttps://www.hugo.im
[image: LinkedIn] <https://linkedin.hugomagalhaes.com/>[image: Twitter]
<https://twitter.hugomagalhaes.com/>[image: Faceb

[2019-08-07 09:02] mattez commented on #72
Hi @hugomn . Thank you very much for your reaction.
So I prepared private repo here https://github.com/mattez/e2web/ and set you as collaborator.
(Origin repo is under company account on Bitbucet)

I greatly appreciate your help. Thank you in advice.

[2019-08-12 11:13] yrammos commented on #46
Is this still an issue? Thanks.

[2019-08-16 10:39] mattez commented on #72
@hugomn did you find out something? I greatly appreciate your help.

[2019-08-28 09:18] hugomn commented on #72
Sorry Matěj. I was on holidays and didn't have time to check it. Do you
still have the issue?

On Fri, Aug 16, 2019 at 12:39 PM Matěj Kříž <notifications@github.com>
wrote:

[2019-08-28 12:33] mattez commented on #72
Hi @hugomn . Yes issue is still there. And your help is still appreciated. Thanks a lot for your attention.

[2019-08-31 14:39] hugomn commented on #72
Hey @mattez! I'm sorry for the delay, but I finally found the solution to your problem! 🎉

The thing here is that the `redirectToHome` doesn't work by itself. You need to create an `index.js` file that will redirect to your `defaultLangKey` page. Here is the code:

1. First add two new parameters in your siteMetadata:

`gatsby-config.js`
[code]

2. Create a new `index.js` file inside `src/pages`:

[2019-09-03 15:22] joaorsfonseca commented on #49
I can't fix it with pagesPaths setting.. Anyone?
My code is available [here](https://github.com/joaorsfonseca/gatsby-doc-markdown)

I can't reach langKey setting. Mine md structure is a little bit different.

Thanks.

[2019-09-22 06:33] obb12 opened #73 "mdx with gatsby-plugin-i18n"
how can i use posts using gatsby mdx using your plugin?

[2019-10-06 23:59] antontranelis opened #74 "i18n for Markdown"
Hi, I'm trying to use this Plugin for Markdown pages. Is there somewhere a documentation or examples? How have the markdown files to be structured?

[2019-11-05 16:56] maru3l opened #77 "Custom hook"
It should be nice to have acces to the langKey with a custom Hook.

[2019-11-05 17:11] hugomn commented on #77
That's a good idea. I'd love to work on that. Do you have any idea on how to do it, @maru3l or @angeloocana?

[2019-11-05 20:21] maru3l commented on #77
You have to create a context and after that create a custom Hook who uses the context.

A good example is the [Formik](https://jaredpalmer.com/formik/) module you create a context and let you use it in smaller children components.

With Gatsby, you can add the context provider in the `gatsby-node` and `gatsby-browser` to provide the context to all the site. I just don't know if it is possible with

[2019-11-07 14:25] zasuh commented on #74
Would also like to know the answer to this!

[2019-11-07 14:28] hugomn commented on #74
I'm not sure I got the question. I use this plugin for i18n and I have all my pages with markdown, something like `page.en.md` and `page.pt.md`, and then I have `www.site.com/page` and `www.site.com/pt/page`. Is that what you are trying to achieve? I can check my personal website source code here: https://github.com/hugomn/hugomagalhaes.com

[2019-11-20 07:56] hugomn commented on #72
Hi @mattez, has it worked for you? Can we close this issue?

[2019-11-20 18:12] zasuh opened #78 "Best practices for translating components?"
What are the best practices for translating components? For instance I have a header component where I would like to translate 'Contact' and 'Biography' to a different language:
[code]

[2019-11-25 06:02] zasuh opened #79 "addLocaleData is deprecated"
react-intl addLocaleData is deprecated. Could you please update the plugin starter?

[2019-12-03 13:00] hugomn commented on #78
Hi @zasuh! I suggest using react-i18next for this kind of translation (https://react.i18next.com/). The scope of this plugin is to translate pages based on the filename. Please let me know if it works.

[2019-12-04 05:34] zasuh commented on #78
@hugomn Hello! Thank you for the response! I ended up fixing my problem by using `gatsby-plugin-intl`, but am now back at looking into `gatsby-plugin-l18n` because I need to translate `.mdx` files. Does this plugin offer that?

[2019-12-04 06:17] hugomn commented on #78
Hi @zasuh, I believe mdx files work in the same way. ;)

[2019-12-04 06:46] hitsuji-no-shippo opened #81 "Which license is MIT or BSD?"
I am an English learner I'm sorry if it's hard to understand.

The following three packages have different licenses for pacakge.json and LICENSE. Which is correct?

- gatsby-plugin-i18n
- gatsby-plugin-i18n-tags
- gatsby-plugin-i18n-readnext

[2019-12-04 06:47] hugomn commented on #81
Hello @hitsuji-no-shippo. I think the license in the main repo is the one that matters, so it's MIT.

[2019-12-04 07:14] hitsuji-no-shippo commented on #81
Hi @hugomn .
Thank you for the response.

Does the main repository license refer to the following code?

https://github.com/angeloocana/gatsby-plugin-i18n/blob/8682f74ba31103c25ec13bcf74070cf5180af77a/package.json#L14

I didn't know because the repository root doesn't have LICENSE.

@angeloocana
I would be very happy to respond to this issue or add LICENSE to the repository root.

[2019-12-04 08:13] hugomn commented on #81
@hitsuji-no-shippo I think the license field inside package.json is also ok. ;)

[2019-12-05 05:19] zasuh commented on #78
@hugomn are you referring to `gatsby-plugin-intl` or `gatsby-plugin-l18n`? Do you maybe have an example?

[2019-12-22 09:27] assainov commented on #39
@itfarrier is it failing gatsby build on your local machine? If yes, disregard my answer below.

I had a similar issue with Production not being able to find messages. It was a different plugin, but the bug might be the same:
For us the issue was coming from two places:
1. using different OS in development and production.
2. locales directory had a capital letter (Intl), but in the config was spec

[2020-01-25 10:31] hejsfj opened #92 "Add automated detection of browser language and URL redirection"
Hej!
I just added this plugin to my Gatsby project which is powered by Prismic. I now wonder what might be the best way to add automated browser language detection and redirection to /de/ /en/ and so on...

What's the best practice to do so?

[2020-01-30 09:18] przemuh commented on #73
https://github.com/angeloocana/gatsby-plugin-i18n/pull/93

[2020-01-30 09:18] przemuh commented on #46
https://github.com/angeloocana/gatsby-plugin-i18n/pull/93

[2020-01-31 21:10] przemuh commented on #92
Hey @hejsfj!

I don't know if it is the best way to do it but, I've implemented it this way:

[code]

I use `pl` as a default page language. So if browser language is not `pl` and the path doesn't start with `/en` -> then I know I need to redirect the user to `/en+path`.

------------

You can also check this package: https://github.com/i18next/i18next-browser-languageDetector

Good luck :)

[2020-02-02 16:47] M-Blobby commented on #66
Hello @mattez ,
I have the same issue, if you resolved your problem I'm curious to know what you did.

[2020-02-06 09:49] hejsfj commented on #92
Thank you! Yes .onClientEntry is what seems to be the best way to redirect.

[2020-02-06 09:49] #92 closed

[2020-02-18 15:27] pmarxbraun opened #113 "URL rewriting ?"
Hello,

Is there a way to rewrite URLS ?
It is important for SEO and the current behavior is not optimized.

For example :
**/product1/** becomes **/fr/product1**

What would be very interesting is the possibility to rewrite as such :
**/product1/** becomes **/fr/produit1**
while keeping consistency in the language switcher.

Any advice appreciated !
Thanks

[2020-03-27 03:12] JohnAlbin commented on #48
@shannonbux is talking about this page on the Gatsby site. It's been almost 1.5 years and that Gatsby page is still broken: https://www.gatsbyjs.org/packages/gatsby-plugin-i18n/?=i18n

[2020-03-27 07:38] hugomn commented on #48
Good point. I'm going to take a look at that today.

[2020-03-31 20:38] iDVB opened #121 "Any way to have urls that include country as the first segment?"
Is there a way to configure this plugin so we can have urls of type...
`domain.com/`[Country]`/`[Language]`/some/path`

`domain.com/us/en/some/path`
and
`domain.com/ca/fr/some/path`
etc?

Perhaps if the plugin does not yet work this way, we might be able to PR a change that might extend it to? Suggestions? (we're not familiar with Ramda)

[2020-04-15 23:44] killua99 commented on #72
can I have some help with something similar. In my case I don't want to redirect but to use the `prefixDefault: false` on my site.

this is what I've:

gatsby-config
[code]

[2020-04-16 15:33] hugomn commented on #72
Hi @killua99! Happy to help. Do you have an example repo or codesandbox where I could reproduce it?

[2020-04-17 06:58] killua99 commented on #72
@hugomn I'll upload a repo today.

But I kind discover that I could not have index.js index.es.js and index.en.js. When I was on the default language "es" without prefix I was using the templage/page.js.

I deleted the index.js and everything start to working just normal.

But I'll uploaded in the next hours. Thanks for the response 🙇‍♂️

[2020-04-17 07:01] hugomn commented on #72
That’s true! When you want to disable predixDefault you need to redirect
manually, like in the example above.

[2020-04-27 12:28] julsmon commented on #113
Hi @pmarxbraun, did you find a solution? I'm looking into translating the slugs as well but so far could not find any valuable and scalable approach.

[2020-04-27 14:54] pmarxbraun commented on #113
@julsmon you're not gonna like my answer : I didn't.

I basically re-created each pages I wanted translated and create a Header component in charge of consistency in the flag/language switcher via props in the pages.

This way I can
- rewrite URL the way I like it
- put different content (eg: a section appearing in EN but not in FR)

[2020-04-29 15:08] julsmon commented on #113
@pmarxbraun I see, thanks for your answer. If you need different content for different languages than your solution is great. I'm still trying to avoid recreating each page though, because I don't really need differentiated content and I have a lot of pages to work with.

[2020-05-01 22:31] hugomn commented on #81
@angeloocana we can close this one.

[2020-05-06 09:44] dev-b01 opened #123 "GraphQLError: Cannot query field \"fields\" on type \"Mdx\""
Hi!
I noticed a previous Pull Request for mdx support, so I'm trying to find out if there is something I am doing wrong with my graphql query that is causing issues fetching mdx data to create tag template pages. (Im relatively new to GraphQL and Gatsby). Doing a query like this fails:
[code]
or like this:
`            {
              allMdx {
                edges {
                  node {

[2020-05-09 07:06] dandyweng opened #124 "GraphQLError: Cannot query field "langKey" on type "MdxFields""
Hello,

I'm trying to use this plugin with MDX. I noticed that MDX support was added in #93, but there are no examples provided on how actually to work with MDX files. I assumed this would work:

[code]

But I got this error message:

[code]

Does anyone know the right way of doing this?
Thanks

[2020-05-11 12:55] zeekrey opened #125 "Custom fields are not under 'node.fields' available but under 'node.frontmatter'"
I created a new project based on [https://github.com/gatsbyjs/gatsby/tree/master/examples/using-markdown-pages](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-markdown-pages)

After I added gatsby-plugin-i18n the following errors occurs:

File: node_modules/gatsby-plugin-i18n/createPages.js:46:10

[code]

It looks like gatsby-transformer-remark puts custom fields under _node.frontma

[2020-05-11 13:49] zeekrey commented on #125
Sorry, I missed the graphql query in the config object. I changed it:

[code]

But still, nothing happens. If I look at the page sitemap, there are no routes for the actual language keys.

[2020-05-13 18:21] potatowave commented on #35
Any resolve on this one?  I'm still seeing this warning on build.

Edit: I ended up just patching it myself.

[2020-05-17 20:20] #123 closed, assigned to nobody

[2020-05-17 20:22] dev-b01 commented on #123
Resolved this issue by using gatsby i18n mdx example without plugin

[2020-05-22 08:16] shreyasminocha commented on #124
No new releases of the package have been published to npm since #93. @angeloocana Could you please publish a new release?

[2020-05-31 11:34] bolonio commented on #124
Hi @angeloocana, could you please publish a new release? As @shreyasminocha mentioned, the support for mdx was already merged. Thanks :)

[2020-06-08 07:57] alexantom opened #127 "Build specific language"
Due to dependency on different shopify stores , i would like to have different build for each language.

can i build one language at time , without generating other language folders?

what specific config should i be using

[2020-06-08 08:06] hugomn commented on #127
Hi @alexantom. I guess this is not possible at the moment. You'll need to implement a custom `createPage` logic, unfortunately.

[2020-06-10 15:30] alexantom commented on #127
@hugomn  i'm new to gatsby , do you have  any documentation regarding the `createPage` logic?

[2020-06-15 16:21] IgordeOliveira commented on #113
I need it too, how did you do it?

[2020-06-16 07:17] pmarxbraun commented on #113
@IgordeOliveira

This is my Header (using Boostrap Navbar)

[code]

and my layout on every page

[code]

[2020-06-22 12:08] sangeet opened #128 "Automatically redirect to default lang when a other lang page isn't available in markdownRemark"
A question regarding automatic redirection or perhaps creating a duplicate object for corresponding language in graphql when one language page is missing while the default language page is available. Let me explain:

## Setup

We are creating documentation pages using the following :

Page structure :

[code]

And so on..

The code in `gatsby-node` which generates the pages for this is:

[code]

#

[2020-06-23 12:09] ghost commented on #12
It doesn't feel this longstanding issue has gotten the attention it deserves from the Gatsby team. Ironic as their website suggests i18n is [part of a great user experience](https://www.gatsbyjs.org/docs/localization-i18n/). With static site generators like Hugo i18n is a solved problem.

Anyone looked at this project? It keeps routes DRY and sports Yarn workspaces containing a (1) theme (2) start

[2020-06-30 10:11] alexej-d opened #130 "getValidLangKey erroneously assumes some paths to be specific languages"
Take for example a configuration, were the languages _en_ and _de_ are defined and for pages with the en language there should be no lang code in the url:
`{
      resolve: 'gatsby-plugin-i18n',
      options: {
        prefixDefault: false,
        langKeyDefault: 'en',
        useLangKeyLayout: false,
      }
}`

In this case `getValidLangKey` wouldn't correctly work with urls like `/destination

[2020-06-30 13:44] adiusz opened #131 "Generate pages for each language"
Hi.
It's not the issue but you encouraged to ask for help, so I'm posting this :)

I need to add translations for Gatsby page I wrote but I get stucked. I am using DatoCMS for this project.
I have a simple gatsby-node file, and couple of product records, which has 2 language versions. Here is the file:

https://gist.github.com/adiusz/e953acb277aa0be2e55b0f2787911509

What I need is simply generate

[2020-07-16 16:46] lewis-geek opened #137 "How to set index page link to domain/langKey/ instead of domain/index.langKey/"
I have a file named `index.langKey.txs` under the pages folder, the link of this page is `domain/index.langKey/`, how can I set this link to `domain/langKey/` instead of `domain/index.langKey/`?

[2020-07-16 16:51] lewis-geek commented on #137
Hi @hugomn ! your site [hugo.im](www.hugo.im) is awesome! do you know how to set this?

[2020-07-17 05:16] lewis-geek commented on #137
I fixed the issue by added `${__dirname}/src/pages` to the pagesPaths option,  the root cause is I had added another path to this option.

[2020-07-17 05:16] #137 closed, assigned to nobody

[2020-07-18 11:38] hugomn commented on #137
Hi @lewis-geek! Thanks! Happy that you fixed the issue.

[2020-07-19 08:43] stchristian commented on #72
This error is very annoying. I tried the same with reach-routers's Redirect component in order to redirect but it failed horribly. In addition it was also misleading to see that in [this demo repo](https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages/gatsby-starter-default-i18n) the stuff is working without Redirection component but in reality it does not.
The plugin's default be

[2020-08-10 12:24] gusbemacbe commented on #127
@alexantom

THis plugin is too limited. But you can try two articles that explain the use of `createPage`, interacting with this plugin.

- https://www.gatsbyjs.org/blog/2020-02-19-how-to-build-multilingual-sites-with-gatsby/
- https://kalinchernev.github.io/multilingual-gatsbyjs
- https://github.com/gatsbyjs/gatsby/tree/master/examples/using-i18n

[2020-08-10 12:33] gusbemacbe commented on #92
@przemuh

I put on the file `gatsby-browser.js`, but Gatsby did not accept it. Then I put in the file `gatsby-node.js`, and Gatsby warned:

[code]

[2020-08-10 13:12] przemuh commented on #92
What do you mean by "Gatsby did not accept it"?

https://www.gatsbyjs.org/docs/browser-apis/#onClientEntry

[2020-08-10 13:18] gusbemacbe commented on #92
[code]

[2020-08-10 13:28] przemuh commented on #92
[code]

This is the answer to your problem :) You need to write it in ES6 syntax instead of CommonJS:

[code]

[2020-08-10 13:39] gusbemacbe commented on #92
@przemuh

Ah, I misunderstood Gabtsby's warning. I thought it does not accept both.

But unfortunately, even with this code, the site does not detect browser's language and does not change to browser's language. :-/

[2020-08-23 22:22] lucsrods commented on #49
Just in case someone else end up here, after applying Charlynux's suggestion I also faced the error:

After doing some digging here's what fixed for me: https://github.com/gaearon/overreacted.io/commit/18c7308

[2020-09-17 15:51] yingqi-chen opened #154 "Is there a way that I don't have to build a few different pages for different languages?"
To enable the translation feature, I use react-i18next. My file structure looks like this:

[code]
So what is going on is that, I extract all the text on files in pages folder and put them in translation.js in different language folders, and when I click a button to change the language, all the files in pages will find the corresponding text from different language translation.js file accordingly.

[2020-09-25 17:51] SamnnyWong opened #155 "How to add default language key as prefix when loading the website?"
Currently, I am trying to implement i18n into my gatsby static website, after implement the gatsby-plugin-i18n plugin into the project I noticed that the website will not add the default langkey '/en/' right after I type in http://localhost:8001/ in the browser's address bar. Below is my set up inside gatsby-config.js

[code]
I also added the file gatsby-browser.js manually in the project root dir

[2020-09-28 15:34] abuabdillah3 opened #156 "Possible to use with Gatsby pathPrefix?"
Hi, I have a website using Gatsby pathPrefix, but with the language it is added after the language prefix. For example:

www.domain.com/pathprefix/home for french link becomes:

www.domain.com/pathprefix/fr/pathprefix/home.

So the pathprefix is being added AFTER the language prefix which of course screws up the links. Any help is appreciated, thanks

[2020-09-30 12:29] cbix commented on #49
Also, don't forget to add
[code]
to your query. It's obvious but I just spent an hour debugging why I couldn't access `langKey` from inside the createPages definition 🤦

[2020-10-02 13:59] baptisteArno opened #157 "Google is referencing other languages as subpages. How can I prevent this behaviour?"
As you can see here, the English version of the site is displayed as a subpage in Google results is this normal? How can I prevent this?
<img width="590" alt="CleanShot 2020-10-02 at 15 57 20@2x" src="https://user-images.githubusercontent.com/16015833/94931366-f88e2400-04c7-11eb-9686-f030b1315d00.png">

[2020-11-08 16:41] vitorreis commented on #49
Thanks, @Charlynux and @lucsrods the combination of your insights made it work

[2020-11-18 10:52] hrahimi270 opened #159 "integration with strapi?"
Hi there.
I'm using Strapi as my CMS. Also, I used your plugin for my static pages and works fine for me.
But, there are some dynamic pages that I create them using the `createPage` action. These pages are coming from Strapi API. How can I handle multilingual functionality for these dynamic pages?

Currently, I create a page for both my languages manually. I mean, using `createPage` twice in a loo

[2020-12-21 19:15] Joinyy opened #163 "File System Route API and i18n detect the same pattern"
I have generated some subpages via the new File System Route API from gatsby. After introducing this plugin the route file gets detected as a language file:

Filename: `{ContentfulJob.id}.js`
Resulting page:
![grafik](https://user-images.githubusercontent.com/24298506/102813170-9f4bd780-43c8-11eb-817b-0d804b5b6e39.png)

The plugin clearly picks up the dot inside the curly braces. I also tried to l

[2020-12-26 16:29] osmancakir commented on #69
+ 1 I also see this warning

[2021-03-09 19:45] itfarrier commented on #155
@SamnnyWong, please, see https://github.com/itfarrier/podabed.github.io/blob/source/src/pages/index.tsx. This is an old ugly solution.

[2021-05-11 16:40] leoplct commented on #157
Did you find the cause?

[2021-05-18 14:36] claireprvst commented on #60
hello, did someone help you for this ?

[2021-05-19 19:01] paulkre opened #192 "Getting links to the translation versions of the current page"
Is there a way to retrieve the URL paths to all translation versions of the current page / post? In my case I don't necessarily have the same translations defined for every single page and I don't want to render a link to a page that does not actually exist.

Technically you could query all the available translations of a specific page during the build process, right?

[2021-06-27 20:57] timonmasberg commented on #157
Any update on this?

[2021-07-11 09:16] sangeet commented on #128
Just a note. I am not concerned with this particular feature anymore, hence please feel free to close this out if no changes based on this is planned.

[2021-07-18 09:09] redblue9771 commented on #163
I have the same problem~

[2021-07-27 08:54] sangeet commented on #128
Closing this. Feel free to open a new thread referencing this if someone encounters the same limitation in the future.
From what I remember from the past, I couldn't find a solution for this so we just removed the German section of documentation completely and added a link to the English version in German version of page which does the job for us.

[2021-07-27 08:54] #128 closed, assigned to nobody

[2021-08-19 12:31] Monknow opened #200 "gatsby-plugin-i18n detects the File System Route API as a language"
I am trying to generate pages for a blog with gatsby using the File System Route API, which uses the following syntax in the files: blog/{Posts.title}.js. It was working perfectly until I added the gatsby-plugin-i18n, since it thinks that the "title" it's a language and changes the route to the following /title}/blog/{Posts/

Is there any way to exclude that file from gatsby-plugin-i18n?